.battleDialogTalk {
  /* border: 1px black solid; */
  position: absolute;
  left: 8%;
  top: 10%;
  font-family: galmuri9;
  font-size: large;
}
@font-face {
  font-family: "galmuri9";
  src: url(/src/asset/font/Galmuri9.ttf);
  font-weight: normal;
  font-style: normal;
}
