.minigame-clicker {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}
.minigame-clicker-header {
  /* border: 1px solid black; */
  font-family: galmuri9;
  width: 100%;
  height: 20%;
}

.minigame-clicker-timeleft {
  text-align: left;
  margin-left: 30%;
  padding-bottom: 2%;
  width: 50%;
  left: 20%;
  /* border: 1px solid black; */
}

.minigame-clicker-score {
  font-size: 160%;
}
.minigame-clicker-body {
  /* border: 1px black solid; */
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.minigame-clicker-chair {
  /* border: 1px black solid; */
  width: 32%;
  height: 30%;
  background-image: url(../../asset/image/clickerChair.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.minigame-clicker-seatman {
  transform: scale(0.5) scaleX(-1);
  margin-top: -55%;
  margin-left: -30%;
  /* border: 1px solid black; */
}

.minigame-clicker-effect {
  /* display: block; */
  /* box-sizing: content-box; */
  position: absolute;
  font-family: "Galmuri9";
  font-weight: 800;
  animation: getCoinEffectAppear 1s linear;
  /* border: solid black 1px; */
  z-index: 1001;
}

@keyframes getCoinEffectAppear {
  from {
    transform: translateY(0%) scale(1.5);
    opacity: 1;
  }
  to {
    transform: translateY(-100%) scale(1.5);
    opacity: 0;
  }
}
