.App {
  text-align: center;
}

.app-container {
  padding: 0px !important;
}

@font-face {
  font-family: 'galmuri9';
  src: url(./asset/font/Galmuri9.ttf);
  font-weight: normal;
  font-style: normal;
}