.current-nickname-info {
  text-align: start;
  font-size: 1.5rem;
}
.current-nickname {
  font-size: 1.7rem;
  margin-top: 10%;
}
.change-nickname {
  height: 3rem;
  margin-top: 10%;
}
.change-nickname-input {
  text-align: center;
  height: 2rem;
  width: 80%;
  font-size: 1.5rem;
  font-family: "galmuri9";
  outline: none;
  border: none;
  border-bottom: solid 5px;
  border-bottom-color: black;
  background-color: aliceblue;
}

.nickname-err-sentence{
  color:red;
  -webkit-text-stroke: 0.1px red;
}

.change-nickname-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  padding: 5%;
  height: 5%;
  width: 30%;
  background-color: white;
  border: solid 5px black;
  border-radius: 30px;
}

.current-gender-info {
  text-align: start;
  font-size: 1.5rem;
  margin-top: 10%;
}

.current-gender-wrapper {
  padding: 10% 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}
.current-gender-input[type="radio"] {
  appearance: none;
  border: 0.4rem solid silver;
  border-radius: 30px;
  display: block;
  width: 90%;
  height: 90%;
  margin: 0% 5%;
  background-position-x:center ;
  background-position-y: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.current-gender-input[type="radio"]:checked {
  border: 0.4rem solid black;
  transition: border 0.2s linear;
  display: block;
  width: 90%;
  height: 90%;
  margin: 0% 5%;
  background-color: white;
}
