.subway-background {
  height: 100%;
  background-image: url("../asset/image/test_night2.png");
  background-size: 150% 100%;
  animation: movement 4s linear infinite;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

.subway {
  height: 100%;
  background-image: url("../asset/image/test_subway.png");
  background-size: 150% 100%;
  animation: movement 9s linear infinite;
  z-index: 1001;
}

@keyframes movement {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 300% center;
  }
}
.character-nickname-title {
  width: 32%;
  height: 22%;
  position: absolute;
  left: 10%;
  top: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1010 !important;
}
.character {
  width: 70%;
  height: 72%;
  z-index: 1010;
}
.character-nickname {
  box-sizing: border-box;
  width: max-content;
  font-size: 120%;
  font-weight: 900;
  margin-bottom: 5%;
  z-index: 1002;
  font-family: "galmuri9";
}
.character-title {
  box-sizing: border-box;
  width: max-content;
  margin-top: 3%;
  padding: 3% 10%;
  font-size: 100%;
  font-weight: 900;
  z-index: 1002;
  font-family: "galmuri9";
  visibility: hidden;
}
.main-router-map-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 39%;
  z-index: 1032 !important;
  animation: bottomBtnAppear 1s ease-in-out 0s 1 normal forwards;
}

@keyframes bottomBtnAppear {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

.main-router-map-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.get-coin-btn {
  box-sizing: border-box;
  position: absolute;
  height: 11%;
  width: 20%;
  top: 33%;
  right: 2%;
  z-index: 1002;
  animation: sideBtnAppear 0.7s ease-in-out 0s 1 normal forwards;
  background-image: url("../asset/image/get_coin_btn.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-coin-cnt {
  position: absolute;
  font-size: x-large;
  font-weight: 900;
  left: 50%;
  bottom: 0%;
  font-family: "Galmuri9";
}

@keyframes sideBtnAppear {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.get-coin-click {
  animation: click 1s ease-out;
}

@keyframes click {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  90% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.2);
  }
}

.main-router-pvp {
  position: absolute;
  bottom: 50%;
  right: 6%;
  width: 10%;
  height: 5%;
  background-color: white;
  border-radius: 50%;
  z-index: 1002;
}

.main-dominator-msg-btn {
  position: absolute;
  bottom: 45%;
  right: 6%;
  width: 10%;
  height: 5%;
  z-index: 1002;
}

.pvp-loading-effect {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1100;
}

.black-background {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1100;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    color: #fff;
    opacity: 0.5;
  }
  50% {
    color: rgb(217, 255, 49);
    opacity: 1;
  }
  100% {
    color: #fff;
    opacity: 0.5;
  }
}

.main-board-modal-wrap {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 50px;
  height: 400px;
  z-index: 1500;
  color: #eeeb31;
  font-size: 4rem;
  font-weight: 1000;
  font-family: "galmuri9";
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
