.subway-background {
  height: 100%;
  background-image: url("../asset/image/test_morning.png");
  background-size: 150% 100%;
  animation: movement 4s linear infinite;
  position: relative;
  z-index: 1000;
}

.subway {
  height: 100%;
  background-image: url("../asset/image/test_subway.png");
  background-size: 150% 100%;
  animation: movement 9s linear infinite;
  z-index: 1001;
}

@keyframes movement {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 300% center;
  }
}

.subway > img {
  transform: scale(0.5);
  position: relative;
  left: -25%;
  top: 53%;
}

.main-router-map-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 39%;
}

.main-router-map-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
