.subway-background {
  height: 100%;
  background-image: url("../asset/image/test_morning.png");
  background-size: 150% 100%;
  animation: movement 4s linear infinite;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

.subway {
  height: 100%;
  background-image: url("../asset/image/test_subway.png");
  background-size: 150% 100%;
  animation: movement 9s linear infinite;
  z-index: 1001;
}

@keyframes movement {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 300% center;
  }
}

.character {
  transform: scale(0.5);
  position: relative;
  left: -25%;
  top: 53%;
}

.main-router-map-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 39%;
  animation: bottomBtnAppear 1s ease-in-out 0s 1 normal forwards;
}

@keyframes bottomBtnAppear {
  from{
    transform: translateY(200%);
  }
  to{
    transform: translateY(0%);
  }
}

.main-router-map-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.main-menu-btn{
  box-sizing: border-box;
  position: absolute;
  height: 8%;
  width: 15%;
  top: 30%;
  right: 4%;
  animation: sideBtnAppear 0.5s ease-in-out 0s 1 normal forwards;
  /* animation: floating 3s ease-in infinite; */
}

.get-coin-btn{
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 20%;
  top: 38%;
  right: 2%;
  animation: sideBtnAppear 0.7s ease-in-out 0s 1 normal forwards;
  /* animation: floating 3s ease-in-out infinite; */
}

@keyframes sideBtnAppear {
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes floating {
  0%, 100%{
    transform:translateY(0%);
  }
  50%{
    transform:translateY(5%);
  }
  75%{
    transform:translateY(-5%);
  }
}


.modal-bg {
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1200;
  background: rgba(240, 238, 238, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.modal-wrap {
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:500px;
  padding: 50px;
  height:400px;
  z-index:1500;
  background-color: aliceblue;
  color: #000000;
  font-size: 4rem;
  font-weight: 1000;
  font-family: "galmuri9";
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

.title-cover {
  float: left;
  width: 22vw;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-right: 1.5vw;

}

.title-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.title-title {
  font-size: 6vw;
  height: 5vh;
}