.my-background {
  position: relative;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.my-holder {
  width: 100%;
  height: 10vh;
  position: sticky !important;
  top: 0;
  font-size: 10em;
  z-index: 1;
}
.my-title {
  background: #f3d9d9;
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  box-shadow: 3px 3px 3px 3px gray;
}
.my-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 6vw;
  padding-right: 6vw;
  border-bottom: solid black 1px;
}
.my-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 6vw;
  padding-right: 6vw;
  border: solid 4px black;
  border-radius: 10px;
  background-color: #f3d9d9;
}
.my-subject {
  font-size: large;
  margin: 0%;
}
.my-subject-2 {
  font-size: small;
  margin: 0%;
  float: right;
}
.my-router-map-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 39%;
}

.my-router-map-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.my-router-my-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 14%;
}

.my-router-my-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.my-router-hot-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 64%;
}

.my-router-hot-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.my-scroll-div {
  height: 670%;
  overflow: scroll;
}

select {
  display: inline-block; /* 추가 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f5f5f5;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 38%;
}

select:hover,
select:focus {
  background-color: #e0e0e0;
}

select option {
  background-color: #fff;
  color: #333;
}

.my-select {
  font-family: galmuri9;
  width: 42.5%;
}

.my-option {
  font-family: galmuri9;
}