.my-router-map-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 39%;
}

.my-router-map-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.my-router-my-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 14%;
}

.my-router-my-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.my-router-hot-btn {
  box-sizing: border-box;
  position: absolute;
  height: 12%;
  width: 22%;
  bottom: 4%;
  left: 64%;
}

.my-router-hot-btn > img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
